footer {
    background-color: $colorfondo;
    border-top: $estiloBorde;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  
    a {
      text-decoration: none;
      font-size: large;
      margin-right: 10px;
    }
  
    p {
      font-size: medium;
    }
  }