footer {
    background-color: $colorfondo;
    border-top: $estiloBorde;
    display: flex;
    justify-content: space-between;

  
    a {
      text-decoration: none;
      font-size: large;
      margin-right: 10px;
    }
  
    p {
      font-size: medium;
    }
  }